:root {
  --background-color: rgb(41, 41, 41);
  --container-color: rgb(24, 24, 24);
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}